body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
span{
    color:orange;
    
}
.flexible-container{
    display:flex;
    margin-bottom:150px;

}
.half-width{
    width:50%;
    padding-left:5%;
    text-align: justify;
    
    
}
.half-width img{
    width:80%;
}

h1{
    font-size:50px;
}
.link-button{
    background:orange;
    padding:10px 30px;
    border-radius:5px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    color:white;
    background-image:linear-gradient(orange,red);
}

.top-banner{
    background-image:url(./images/top-banner.png);
    background-repeat:no-repeat;
}
.dream-big{
    background-image:url(./images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;

}
.color-orange{
    color:orange;
}
h2{
    font-size:40px;    
}
.experience-item{
    width:40%;
    box-shadow: 10px 10px 17px 10px gray;
    margin-left:5%;
    margin-right:5%;
    padding-left:30px;
    border-radius:10px;
    
    

}
#Baby-wev{
    border-left:7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice:1;
}
#Full-wev{
    border-left:7px solid ;
    border-image:linear-gradient(salmon,tomato);
    border-image-slice:1;
}

.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat:no-repeat;
    background-position:left;
}
footer p{
    text-align: center;
}













